<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/tim_folder/static/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="logo">
    <img src="tim_folder/static/tinder.png" alt="Logo" style="width: 400px; height: auto;  position: relative; left: -59%;">
</div>
<body>
    
<div class="wrapper">
    <form method="POST">
        <br>
        <h1>Login Page</h1>
        <div class="input_box">
            <label for = "email"></label>
            <input type="text", placeholder="email", name = "email",id="email"/>
            <i class='bx bxs-user-circle' ></i>
        </div>
        <div class="input_box">
            <label for = "password"></label>
            <input type="password", placeholder="Password", name = "password",id="password"/>
            <i class='bx bxs-lock' ></i>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember Me</label>
            <a href="#">Forget Password?</a>
        </div>
        <button type ="submit" class="btn">Login </button>
        <div class="register-link">
            <p>Don't have an account yet? <a href="/register">   Register</a></p>
        </div>
    </form>
</div>
</body>
</html>