<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Matches</title>
    <link rel="stylesheet" href="tim_folder/static/matches.css">
</head>
<body>
    <header>
        <h1>Your Matches</h1>
    </header>
    <div class="match-container">
        {% for match in all_matches %}
        <a href="/chat/{{ match.get('email') }}" class="match-card">
            <img src="{{ match.get('image_path', 'tim_folder/static/cissy.jpeg') }}" alt="{{ match.get('firstName') }}">
            <h3>{{ match.get('firstName') }} {{ match.get('lastName') }}</h3>
            <p>Age: {{ match.get('age') }}</p>
            <p>Location: {{ match.get('location') }}</p>
            <p>Interests: 
                {% for interest in match.get('interests', []) %}
                    {{ interest.capitalize() }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        </a>
        {% endfor %}
    </div>
</body>
</html>
