<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        
        <form id="registerForm" method="POST" action="/register">
            <div class="input-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">
            </div>
            <div class="input-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-group">
                <label for="age">Age</label>
                <input type="integer" id="age" name="age">
            </div>
            <div class="input-group">
                    <label for="gender">Gender</label>
                    <input type="text" id="gender" name="gender">
            </div>
            <div class="input-group">
                <label for="location">Location</label>
                <input type="text" id="location" name="location">
            </div>
                
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Create a username">
            </div>
            
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Create a password">
            </div>
            
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
